<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" class="form-control"
          [ngModel]="defaultMail"
          name="email"
          required
          email
          #email="ngModel">
        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>

        <div class="form-group">
          <label for="subscription">Choose a subscription</label>
          <select name="subscription" id="subscription" 
          [ngModel]="defaultSubs"
          class="form-control">
          <option value="Basic">You chose Basic</option>
          <option value="Advanced">Your chose Advanced</option>
          <option value="Pro">Your chose Pro</option>
          </select>
        </div>
       
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control"
          [ngModel]="defaultPass"
          name="password"
          required
          #password="ngModel">
        </div>
        <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
        <p *ngIf="!f.valid && f.touched">Form is invalid !</p>
      </form>      
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{ user.email }} </p>
      <p>Password: {{ user.password }}</p>
      <p>Subscription: {{ user.subscription }}</p>
    </div>
  </div>
</div>


<h4>Add a Form with the following Inputs (and Validators)
1) Mail address (should not be empty and should be an email address)
2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
   Set "Advanced" as Default
3) A Password field (should not be empty)
4) A Submit Button

Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

Upon submitting the form, you should simply print the Value of the Form to the Console.
Optionally, display it in your template.</h4>